.boton{
    background-color: aquamarine;
    padding: 10px;
    border: black 1px;
    border-radius: 5px;
    cursor: pointer;
}
input[type=text] {
    border: 2px solid #7fffd4;
    border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}