table.general {
  border-collapse: collapse;
  align-content: center;
  size: 200px;
  padding-left: 50px;
  background-color: blanchedalmond;
}
table.general a:hover {
font-size:20px;
color:#000;
}
table.general td, table.general th {
  border: 1px solid #8EA9DB;
  padding: 6px 12px;
}
table.general thead td , table.general thead th,
table.general tfoot td, table.general tfoot th{
  font-weight: bold;
  background-color: #4472C4;
  color: #fff;
  font-size: 20px;
}
table.general td:nth-of-type(odd) {
  background-color: #fff;
  color: #000;
  font-size: 20px;
}
table.general td:nth-of-type(even){
  background-color: #fff;
  color: #000;
  font-size: 20px;
}
table.general tbody tr:hover {
  background-color: red;
}

#not {
  color:red !important;
}

#max {
  background-color: #FFFF00;
}